@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  Style général application WEB */

:root {
    --Roboto: 'Roboto', sans-serif;

}
body {
    margin: 0;
    height: max-content;
    font-family: var(--Roboto);
}
h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
    text-decoration: underline;
        text-align: center;
        color: #333;
    
}

/*  Style bandeau de présentation du site */

.bandeaucontact {
    background-color: #f8f8f8;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
    height : 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.headband {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-image: url('Assets/zoo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;
    }

.bandeau::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.nom-zoo {
    flex: 1;
    color: white;
    text-align: right;
    padding-right: 20px;
    z-index: 1;
}

.nom-zoo h1 {
    font-size: 4rem; 
    margin: 0;
    z-index: 1;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
    text-decoration: underline;
}

/*  Style menu de navigation */

.nav-tabs {
    background-color: #333;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999; 
}

.nav-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-tabs a:hover {
    background-color: #ddd;
    color: black;
}

/*  Styles des habitats du zoo */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
}
.photo-grid a {
    display: block;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
}
.photo-grid a:hover {
    transform: scale(1.05);
    border-color: #aaa;
}
.photo-grid img {
    width: 100%;
    max-height: 450px;
    height: auto;
    display: block;
}

.titre-photo {
    text-align: center; 
    margin-bottom: 5px; 
    font-size: medium;
    color: #333; 
    font-weight : bold; 
    text-decoration: none; 
    display: block; 
}

.introduction {
    margin: 20px;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .nav-tabs ul {
        flex-direction: column;
    }
}

/*  Style du carousel */

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin: 20px;
}

.carousel-slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 1rem;
    width: 600px; 
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carousel-slide h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.carousel-slide p {
    font-size: 1rem;
}

/* Style formulaire de contact */

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.button-group {
    text-align: center;
}

#submitReview {
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#submitReview:hover {
    background-color: #4cae4c;
}

#reviewsContainer {
    margin-top: 30px;
}

#reviewsList {
    list-style-type: none;
    padding: 0;
}

.review {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.review h3 {
    margin: 0;
    margin-bottom: 5px;
}

.review p {
    margin: 0;
}